/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.sales-menu a, .gender-menu a{
    text-decoration: none;
    color: white;
}

ul, ol, menu {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

/* HEADER */
.page-header .row {
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.page-header {
    background-color:rgb(255, 105, 0);
}

.gender-menu, .sales-menu {
    display: flex;
}

.menu-item, .menu-icons {
    padding: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.logo img {
    height: 30px;
}

/* MAIN STYLE */
.card-container .row{
    gap:10px
}

.card-container .card {
    width: calc(100% / 3);
}

.card{
    border: solid 1px rgb(228, 228, 228);
    
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px 0 50px 0;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

.card-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}

.card-description{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.card-price {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

strike{
    color: black;
}